---
title: About this page
layout: base.njk
---

<div class="container">
        <h1>This is a simple page</h1>
        <p>The standard lorem ipsum passage has been a printer's friend for centuries. Like stock photos today, it served as a placeholder for actual content. The original text comes from Cicero's philosophical work "De Finibus Bonorum et Malorum," written in 45 BC.</p>
</div